@(message : String)

@import helper._
@import helper.twitterBootstrap._

@main(Messages("profile")){

	<h3>@Messages("loosePassword")</h3>
	
	<h4>@message</h4>
	
	@form(routes.Index.mailLoosePassword()){
		<div class="clearfix" id="mailAddress_field">
		    <label for="mailAddress">@Messages("mailAddress")</label>
		    <div class="input">
		        
		    	<input type="text" id="mailAddress" name="mailAddress"/>
		
		        <span class="help-inline"></span>
		        <span class="help-block"></span> 
		    </div>
		</div>
				
		<input type="submit" value=@Messages("submit")>
	}

}