@(message : String, user : User)

@import helper._
@import helper.twitterBootstrap._

@main(Messages("accountReactivation")){

	<h3>@Messages("accountReactivation")</h3>
	
	<h4>@message</h4>
	
	@form(routes.Index.responseSecretQuestion(user.mail)){
		<div class="clearfix" id="response_field">
		    <label for="response">@enumeration.SecretQuestion.returnQuestion(user.question)</label>
		    <div class="input">
		        
		    	<input type="text" id="response" name="response"/>
		
		        <span class="help-inline"></span>
		        <span class="help-block"></span> 
		    </div>
		</div>
				
		<input type="submit" value=@Messages("submit")>
	}

}